<component name="ArtifactManager">
  <artifact type="war" name="SpringNoBootBaseModuleWebApi:war">
    <output-path>$PROJECT_DIR$/SpringNoBootBaseModuleWebApi/target</output-path>
    <root id="archive" name="SpringNoBootModuleWebApi-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringNoBootBaseModuleWebApi:war exploded" />
    </root>
  </artifact>
</component>